.abouthero-container {
   padding: 104px 124px 110px 108px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 200px;
   background-color: #D9FFE9;
}

.about-hero-title {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 8px;
}

.abouthero-content {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 72px;
    line-height: 21px;
}

.abouthero-img {
    position: relative;
}

.abt-hero-ellipse {
    position: absolute;
    left: -25px;
    top: 65%;
}

.abt-hero-img {
    width: 598px;
    height: 410px;
}

.about-proper {
    padding: 65px 124px 150px 108px;   
}

.about-proper-header {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    color: var(--accent);
}

.about-proper-U {
    margin: 0 auto;
}

.about-proper-container {
    margin-top: 184px;
    display: flex;
    gap: 188px;
}

.about-proper-img {
    position: relative;
}

.about-proper-meeting {
    height: 483px;
    width: 598px;
}

.about-proper-star {
    position: absolute;
    left: 62%;
}

@media screen and (max-width: 1358px) {
    .abouthero-container {
        gap: 120px;
    }

    .abt-hero-img {
        height: 452px;
        width: 481px;
    }

    .about-proper-container {
        gap: 120px;
    }

    .about-proper-meeting {
        height: 452px;
        width: 481px
    }

    .about-proper-star {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .abouthero-container {
        gap: 100px;
        padding: 104px 70px 110px 50px;
    }

    .abt-hero-img {
        height: 412px;
        width: 441px;
    }

    .about-proper {
        padding: 65px 70px 150px 50px;   
    }

    .about-proper-container {
        gap: 100px;
    }

    .about-proper-meeting {
        height: 412px;
        width: 441px
    }

}



