.background-container {
    padding: 116px 124px 120px 108px;

}

.background-header {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 45px;
    color: var(--accent);
}

.background-intro {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 27px;
    color: var(--accent);
}

.background-policy {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 45px;
    line-height: 27px;
    color: var(--accent);
}

.background-term {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-bottom: 29px;
}

.background-term p {
    color: var(--accent);
    font-weight: 500;
    font-size: 18px;   
    line-height: 27px;
}

@media screen and (max-width: 1024px) {
    .background-container {
        padding: 116px 70px 120px 50px;
    }   
}

@media screen and (max-width: 450px) {
    .background-container {
        padding: 36px 35px 0px 35px;
        
    }   

    .background-header {
        text-align: center;
        font-size: 22px;
        margin-bottom: 24px;
        line-height: 33px;
    }

    .background-intro {
        font-size: 14px;
        text-align: center;
    }

    .background-policy {
        text-align: center;
        font-size: 14px;
        margin-bottom: 24px;
    }

    .background-term {
        align-items: start;
    }

    .background-term p {
        text-align: center;
        font-size: 14px;
    }
}