.Faq-container {
    padding: 150px 124px 0 108px;
    display: flex;
    gap: 108px;
}

.faq-title {
    font-weight: 600;
    font-size: 22px;
    color: var(--accent);
}

.faq-U {
    width: 55px;
    margin-left: -5px;
}

.faq-header {
    display: flex;
    align-items: center;
    background-color: var(--dominant);
    padding: 21px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.faq-header.active {
    border-radius: 10px 10px 0 0;
}

.faq-header p {
    margin: auto;
    font-weight: 600;
    font-size: 22px;
    color: var(--text-secondary);
}

.answer p {
    margin-top: -10px;
    font-weight: 500;
    font-size: 18px;
    padding: 81px 22px;
    background-color: #EAFFF3;
    color: var(--accent);
    line-height: 27px;
}

.faq-img {
    position: relative;
}

.faq-triangle {
    position: absolute;
    top: 50%;
    left: -5%;
}

@media screen and (max-width: 1358px) {
    .Faq-container {
        gap: 60px;
    }

    .question-img {
        height: 452px;
        width: 481px;
    }
}

@media screen and (max-width: 1024px) {
    .Faq-container {
        gap: 40px;
        padding: 150px 70px 0 50px;
    }

    .question-img {
        height: 402px;
        width: 431px;
    }

    .faq-header p {
        font-size: 18px;
    }

    .answer p {
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    .Faq-container {
        gap: 45px;
        padding: 78px 35px 0 35px;
        flex-direction: column-reverse;
    }

    .question-img {
        height: 293px;
        width: 100%;
    }

    .faq-title {
        font-size: 14px;
    }

    .Faq-proper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .faq-U {
        width: 110px;
    }

    .faq-header p {
        font-size: 14px;
    }

    .answer p {
        font-size: 12px;
        padding: 30px 5px;
    }
}