.footer-container {
    box-sizing: border-box;
    padding: 65px 83px 115px 108px;
    height: 445px; 
    background-color: #D9FFE9;
}

.footer-top {
    display: flex;
    gap: 80px;
    margin-bottom: 23px;
}

.footer-brand {
    flex: 1;
}

.footer-brand-text {
    font-weight: 400;
    font-size: 14px;
    margin-top: 35px;
    line-height: 21px;
}

.footer-links {
    flex: 1.4;
    display: flex;
    justify-content: space-between;
}

.footer-header {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 35px;
    color: var(--accent);
}

.footer-pages li {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--accent);
}

.footer-pages li a.active {
    color: var(--complementary);
}

.footer-download {
    flex: 1;
}

.download-store {
    display: flex;
    gap: 25px;
}

.footer-bottom {
    font-weight: 500;
    font-size: 18px;
    color: var(--accent);
}

@media screen and (max-width: 1024px) {
    .footer-container {
        padding: 65px 70px 115px 50px;
    }

    .footer-links {
        flex: 2;
    }

    .footer-top {
        gap: 40px;
    }
    
    .download-store {
        gap: 12px;
    }
}