.hero-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 40px 124px 0 108px;
    width: 100%;
    background-color: #D9FFE9;
    height: 625px;
}

.hero-message {
    position: relative;
    width: 504px;
}

.hero-message-header {
    padding-top: 100px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 19px;
}

.hero-message-header-mobile {
    display: none;
}

.message-content {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 55px;
    line-height: 21px;
}

.hero-ad {
    display: flex;
    align-items: center;
    gap: 25px;
}

.hero-video {
    display: flex;
    align-items: center;
    gap: 5px;
}

.hero-video p {
    font-size: 12px;
    font-weight: 500;
    color: var(--accent);
}

.rhombus {
    position: absolute;
    top: 87px;
    right: 40px;
}

.hero-illustrations {
    position: relative;
}

.hero-img {
    position: absolute;
    top: 50px;
    right: 140px;
    width: 677px;
    height: 470px;
}

.green-rect {
    height: 582px;
    width: 423px;
    position: absolute;
    top: 0;
    right: 0;
}

.star1 {
    position: absolute;
    top: 80px;
    right: 330px;
}

.star2 {
    position: absolute;
    right: 295px;
    top: 52px;
}

.star3 {
    position: absolute;
    right: 235px;
    top: 10px;
}

@media screen and (max-width: 1358px) {
    .hero-img {
        width: 500px;
        height: 380px;
    }   

    .green-rect {
        width: 350px;
    }

    .star1 {
        top: 80px;
        right: 280px;
    }
    
    .star2 {
        right: 240px;
        top: 52px;
    }
    
    .star3 {
        right: 190px;
        top: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .hero-container {
        padding: 40px 70px 0 50px;
    }

    .hero-img {
        width: 450px;
        height: 330px;
        top: 70px;
        right: 100px;
    }  

    .green-rect {
        width: 300px;
    }
 
    .hero-message {
        width: 404px;
        z-index: 2;
    }

    .star1 {
        top: 80px;
        right: 240px;
    }
    
    .star2 {
        right: 200px;
        top: 52px;
    }
    
    .star3 {
        right: 140px;
        top: 10px;
    }
}

@media screen and (max-width: 768px) {
    .hero-container {
        padding-left: 70px;
        padding-right: 70px;
        padding-bottom: 59px;
        align-items: center;
        height: fit-content;
        flex-direction: column-reverse;
    }   

    .green-rect, .star1, .star2, .star3, .hero-message-header {
        display: none;
    }

    .hero-img {
        position: static;
        height: 200px;
        width: 400px
    }

    .hero-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .message-content, .hero-message-header-mobile {
        text-align: center;
        display: initial;
    }

    .hero-message-header-mobile {
        padding-top: 18px;
        font-size: 22px;
        font-weight: 600;
        line-height: 33px;
        margin-bottom: 19px;
    }

    .message-content {
        margin-bottom: 18px;
    }

    .hero-ad {
        flex-direction: column-reverse;
        gap: 18px;
    }

    .rhombus {
        top: 100px;
        right: -20px;
    }
}

@media screen and (max-width: 450px) {
    .hero-container {
        padding-left: 50px;
        padding-right: 50px;
    }   


    .hero-img {
        position: static;
        height: 191px;
        width: 100%
    }

    .rhombus {
        top: 160px;
    }
}