.partners-container {
    background-color: var(--text-secondary);
    border-radius: 10px;
    padding: 40px 57px 50px 57px;
    box-sizing: border-box;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
    width: 85%;
    position: absolute;
    margin: auto;
    top: -7%;
    left: 6.5%;
}

.partner-header { 
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: var(--accent);
}

.partner-U {
    margin: auto;
    margin-bottom: 20px;
}

.partners {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.partners-mobile {
    display: none;
}

.partner1 {
    height: 95px;
    width: 190px;
}

.partner2 {
    width: 220px;
    height: 35px;
}

.partner3 {
    width: 200px;
    height: 74px;   
}

.partner4 {
    width: 245px;
    height: 48px;
}

@media screen and (max-width: 1358px) {
    .partners-container {
        width: 84.3%;
    }   

    .partner1 {
        height: 95px;
        width: 15%;
    }
    
    .partner2 {
        width: 15%;
        height: 35px;
    }
    
    .partner3 {
        width: 15%;
        height: 64px;   
    }
    
    .partner4 {
        width: 15%;
        height: 48px;
    }
}

@media screen and (max-width: 1024px) {
    .partners-container {
        width: 87%;
    }     
}

@media screen and (max-width: 450px) {
    .partners-container {
        padding: 15px 23px 33px 23px;
        height: 137px;
        top: -3%;
    }

    .partners {
        display: none;
    }

    .partners-mobile {
        display: initial;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .partner-header {
        font-size: 14px;
    }

    .N-mobile {
        width: 69px;
        height: 23px;
    }

    .p-mobile {
        width: 83px;
        height: 16px;
    }

    .l-mobile {
        width: 69px;
        height: 35px;
    }

    .partner-U {
        width: 110px;
    }
}