.privacyhero-container {
    padding: 100px 124px 57px 108px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D9FFE9;
}

.privacyhero-texts {
    width: 30%;
}

.privacyhero-header {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 8px;
}

.privacyhero-content {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.privacyhero-img {
    position: relative;
}

.privacy-img {
    height: 452px;
    width: 481px;
}

.privacy-ellipse {
    position: absolute;
    right: 70px;
    top: 30px;
}

.privacy-triangle {
    position: absolute;
    bottom: 0;
    left: 50px;
}

.privacy-rhombus {
    position: absolute;
    bottom: 40px;
    right: 5px;
}


@media screen and (max-width: 1358px) {
    .privacyhero-texts {
        width: 40%;
    }
}

@media screen and (max-width: 1024px) {
    .privacyhero-container {
        padding: 100px 70px 57px 50px;
    }

    .privacy-img {
        height: 412px;
        width: 441px;
    }
}

@media screen and (max-width: 768px) {
    .privacyhero-container {
        padding: 60px 50px 69px 50px;
        flex-direction: column-reverse;
        gap: 34px;
    }

    .privacy-img {
        height: 386px;
        width: 404px;
    }

    .privacyhero-texts {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .privacy-ellipse {
        top: 84%;
        left: 30px;
        height: 14px;
        width: 16px;
    }
    
    .privacy-triangle {
        bottom: 50px;
        left: 100%;
        height: 14px;
        width: 16px;
    }
    
    .privacy-rhombus {
        top: 0;
        right: 30px;
        height: 14px;
        width: 14px;
    }

    .privacyhero-header {
        font-size: 22px;
        margin-bottom: 9px;
    }

    .privacyhero-content {
        text-align: center;
        font-size: 14px;
        line-height: 21px;
    }
}

@media screen and (max-width: 450px) {
    .privacyhero-container {
        padding: 60px 35px 69px 35px;
        flex-direction: column-reverse;
        gap: 34px;
    }

    .privacy-img {
        height: 286px;
        width: 304px;
    }

    .privacyhero-texts {
        width: 100%;
    }
}