.termshero-container {
    padding: 137px 124px 111px 108px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D9FFE9;
}

.termshero-texts {
    width: 30%;
}

.termshero-header {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 8px;
}

.termshero-content {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.termshero-img {
    position: relative;
}

.termshero-image {
    width: 597px;
    height: 358px;
}

.termshero-triangle {
    position: absolute;
    top: -75px;
    right: 50%;
}

.transhero-ellipse {
    position: absolute;
    bottom: -40px;
    left: 20px;
}

@media screen and (max-width: 1358px) {
    .termshero-image {
        width: 500px;
        height: 320px;
    }
}

@media screen and (max-width: 1024px) {
    .termshero-container {
        padding: 137px 70px 111px 50px;
    }  
    
    .termshero-image {
        width: 450px;
        height: 320px;
    }

    .termshero-texts {
        width: 40%;
    }
}

@media screen and (max-width: 450px) {
    .termshero-container {
        padding: 80px 35px 72px 35px;
        flex-direction: column-reverse;
        gap: 30px;
    }  
    
    .termshero-image {
        width: 290px;
        height:174px;
    }

    .termshero-texts {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .termshero-header {
        font-size: 22px;
        margin-bottom: 9px;
    }

    .termshero-content {
        text-align: center;
        font-size: 14px;
    }

    .termshero-triangle {
        top: 100%;
        right: 0;
        height: 14px;
        width: 14px;
    }
    
    .transhero-ellipse {
        bottom: -20px;
        left: 20px;
        height: 14px;
        width: 14px;
    }
}